input {
  border-radius: 0;
}

.btn {
  display: inline-block;
  border: 2px solid @color-primary;
  padding: (@spacing * 1.15);
  background-color: transparent;
  font-family: 'ag_book_promedium';
  text-transform: uppercase;
  text-decoration: none;
  line-height: 0;
  color: @color-primary;

  &:focus,
  &:hover {
    color: #fff;
    background-color: @color-primary;
    text-decoration: none;
  }

  &--lg {
    padding: (@spacing * 1.5) (@spacing * 2);
  }

  &--secondary {
    border-color: #fff;
    color: #fff;
  }
}

.form {

  &--inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > .form__item input {
      height: 100%;
    }
  }

  &__item {
    border: 0;
    font-size: 1.1em;

    label {
      display: block;
      margin-bottom: 1em;
      color: #000;

      &::after {
        content: '*';
        color: @color-primary;
      }
    }

    label[for=contact-dispensary] {

      &::after {
        content: '';
      }
    }

    input[type=text],
    select,
    textarea {   
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:required + label::after {
        content: '*';
        color: @color-primary;
      }
    }

    input,
    select,
    textarea {
      display: block;
      box-sizing: border-box;
      border: 1px solid @color-border;
      border-radius: 0;
      box-shadow: none;
      padding: (@spacing * .55) @spacing;
      width: 100%;
      height: auto;
    }
    
    select {
      background: #fff url(/assets/svgs/chevron-down.svg);
      background-repeat: no-repeat;
      background-position: 98% 50%;
    }

    textarea {
      height: 215px;
      resize: none;
    }
  }
}
