.container {
  position: relative;

  &--max-width {
    margin: auto;
    max-width: 1440px;
  }

  &--space-evenly {
    display: flex;
    flex-direction: row;

    & > * {
      flex: 1;
    }
  }
}