.container {
  position: relative;

  &--max-width {
    margin: auto;
    max-width: @breakpoint-lg;
  }

  &--space-evenly {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
      flex: 1;
    }
  }

  &--3col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
      flex-basis: 30%;
    }

    @media (max-width: @breakpoint-md) {
      & > * {
        flex-basis: 45%;
      }
    }

    @media (max-width: @breakpoint-sm) {
      & > * {
        flex-basis: 100%;
      }
    }
  }

  &__item {
    margin-bottom: 2em;
    text-align: left;
    line-height: 1;
  }
}