.u-margin {

  &-hug {
    margin: 0;

  }

  &-top {
    margin-top: @spacing;

    &--md {
      margin-top: @spacing * 2;
    }
  }
}

.u-padding {
  padding: @spacing;

  &--md {
    padding: @spacing * 2;
  }

  &-left {
    padding-left: @spacing;

    &--md {
      padding-left: @spacing * 2
    }
  }
}

.u-color {

  &-primary {
    color: @color-primary;
  }
}